<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Processing</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>

    <h1 style='text-align: center;color:Tomato;'>Image Analysis Website!</h1>
    <p style='text-align: center'><img src='https://img.freepik.com/free-vector/analysis-concept-illustration_114360-1119.jpg' width=350></p>
    <div class ='center' style='text-align:center'><a href=upload_image ><button onclick="myFunction()" style='width: 300px; height: 50px; background-color: #4CAF50; color: white; border: none; border-radius: 5px; font-size: 16px; cursor: pointer'; type='button'>Upload your image to analyze </button></a></div>
    <footer style="text-align: right">
        <p>Copyright {{ year }}. Built by Fatma CELEBI, </p>
    </footer>


</body>
</html>